<template>
    <div>
        <images-gallery/>
    </div>
</template>

<script>
import ImagesGallery from '@/components/ImagesGallery.vue'

export default {
    name: 'HomeView',
    components: {
        ImagesGallery
    }
}
</script>
