<template>
    <ImageInfos/>
</template>

<script>
import ImageInfos from '@/components/ImageInfos.vue'

export default {
    name: 'InfosView',
    components: {
        ImageInfos
    },
}
</script>