<template>
    <div>
        <router-link :to="{ name: 'home' }">Retour</router-link>
        <h1>Image n°{{ image.id }}</h1>
        <img :alt="imageDescription" :src="image.url">

        <p v-if="!descriptionLoading" id="description">{{ imageDescription }}</p>
        <p v-else>...</p>

        <input v-model="sliderValue" max="1" min="0" step="0.01" type="range"/>
        <br/>
        <input v-model="sliderValue" max="1" min="0" step="0.01" type="number"/>
        <button @click="searchWeapons()">Rechercher</button>
        <br/>

        <template v-if="!weaponsLoading">
            <div id="precision_comment">
                Avec une précision de {{ searchedValue }}, l'IA
                <template v-if="weapons.length">trouve {{ weapons.length }} armes</template>
                <template v-else>ne trouve pas d'arme</template>
            </div>

            <WeaponsList :weapons="weapons"/>
        </template>
        <template v-else>
            <p>...</p>
        </template>
    </div>
</template>

<script>
import images from '@/assets/images.json'
import WeaponsList from '@/components/WeaponsList.vue'
import {RouterLink} from 'vue-router';

export default {
    name: 'ImagesInfos',
    components: {RouterLink, WeaponsList},
    data() {
        return {
            listImages: images,
            image: '',
            imageDescription: '',
            descriptionLoading: false,
            pat: '155a860e4b1e44fab8bbe26bdf6acb3f',
            user_id: 'clarifai',
            app_id: 'main',
            sliderValue: '0.7',
            searchedValue: '',
            weapons: [],
            weaponsLoading: false
        };
    },
    mounted() {
        this.image = this.listImages.filter((img) => {
            return img.id === parseInt(this.$route.params.id);
        }).pop();

        this.searchDescription()
        this.searchWeapons()
    },
    methods: {
        searchWeapons() {
            let requestOptions = this.getApiOptions()

            if (this.sliderValue !== this.searchedValue) {
                this.weaponsLoading = true
                fetch("https://api.clarifai.com/v2/models/weapon-detection/versions/721a84fe09b64093b68193b23a29b5bf/outputs", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        this.weapons = result.outputs[0].data.regions.filter((el) => {
                            return el.value > this.sliderValue;
                        })
                        this.searchedValue = this.sliderValue
                        this.weaponsLoading = false
                    })
                    .catch(error => console.log('error', error));
            }
        },

        searchDescription() {
            let requestOptions = this.getApiOptions()
            this.descriptionLoading = true

            fetch("https://api.clarifai.com/v2/models/general-english-image-caption-clip/versions/2489aad78abf4b39a128fbbc64a8830c/outputs", requestOptions)
                .then(response => response.json())
                .then(result => {
                    this.imageDescription = result.outputs[0].data.text.raw
                    this.descriptionLoading = false
                })
                .catch(error => console.log('error', error));
        },

        getApiOptions() {
            const raw = JSON.stringify({
                "user_app_id": {
                    "user_id": this.user_id,
                    "app_id": this.app_id
                },
                "inputs": [
                    {
                        "data": {
                            "image": {
                                "url": this.image.url
                            }
                        }
                    }
                ]
            });

            return {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Authorization': 'Key ' + this.pat
                },
                body: raw
            };
        }
    },
}
</script>

<style scoped>
img {
    width: 500px;
}

#description {
    margin-top: 5px;
}

#precision_comment {
    margin-top: 25px;
}
</style>