<template>
    <div>
        <template v-for="image in listImages">
            <router-link :to="{ name: 'infos', params: { id: image.id }}">
                <img :src="image.url" alt="Une image très certainement de guerre pour pouvoir trouver des armes">
            </router-link>
        </template>
    </div>
</template>

<script>
import images from '@/assets/images.json'

export default {
    name: "ImagesGallery",
    data() {
        return {
            listImages: images
        }
    }
}
</script>

<style scoped>
img {
    height: 200px;
    margin: 10px;
}
</style>