<template>
    <div v-if="weapons.length" id="content">
        <h3>Liste des armes trouvées</h3>

        <template v-for="weapon in weapons">
            {{ weapon.data.concepts[0].name }}

            (précision: {{ weapon.value }})

            <br>
        </template>
    </div>
</template>

<script>
export default {
    name: "WeaponsList",
    props: ['weapons']
}
</script>

<style scoped>
#content {
    margin-top: 15px;
}

h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
</style>